<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/flexboxgrid.min.css" />
    <link href="/assets/css/main.css" rel="stylesheet">
    <script src="/assets/js/mustache.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
    <script src="/assets/js/jquery-date-format.min.js"></script>
  </head> 
  <body style="margin:0px;padding:0px;width:100%;">
    <%= yield %> 
  </body>
</html>
